body {
  font-family: "helvetica", sans-serif;
  text-align: center;
  background-color: rgb(27, 0, 150);;
}
h1 {
    color: yellow;
    font-family: courier;
    font-size: 300%;
    border: 2px solid gold;
}
.para1 {
    color: yellow;
    font-family: courier;
    font-size: 160%;
}
.para2 {
    color: rgb(27, 0, 150);
    font-family: courier;
    font-size: 100%;
    background: yellow;  
}
